@font-face {
    font-family: 'TelesansText-Regular';
    src: url('../fonts/TelesansText-Regular.eot');
    src: url('../fonts/TelesansText-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TelesansText-Regular.woff') format('woff'),
         url('../fonts/TelesansText-Regular.ttf') format('truetype'),
         url('../fonts/TelesansText-Regular.svg#TelesansText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AustinNewsText-Semibold';
    src: url('../fonts/AustinNewsText-Semibold.eot');
    src: url('../fonts/AustinNewsText-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AustinNewsText-Semibold.woff') format('woff'),
         url('../fonts/AustinNewsText-Semibold.ttf') format('truetype'),
         url('../fonts/AustinNewsText-Semibold.svg#AustinNewsText-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
