@import "_mixins";
@import "_fonts";

$green: #4aa82d;
$darkGrey: #663838;
$lightGrey: #5f5f5f;
$yellow: #f99a00;

// body, html {
// 	margin: 0;
// }

* {
	box-sizing: border-box;
}

/* preloader */

body:after {
	content: url('../images/arrow-left.png') url('../images/arrow-right.png');
	display: none;
}

/* ****************************** */
/* .ti-map-wrapper
/* ****************************** */

.ti-map-wrapper {
	position: relative;
	max-width: 560px;
	outline: 2px solid #5d5d5d;
	&.temp-container {
		max-width: 560px; // TODO: remove temp class
	}
}

#tiMap {
	height: 550px;
}

/* ****************************** */
/* .select
/* ****************************** */

.select {
	display: inline-block;
	@include centerer(true, false);
	padding: 10px 30px;
	background: #06847f;
	color: #fff;
	z-index: 10;
	font-family: 'TelesansText-Regular';
	font-size: 17px;
	@include breakpoint(xxs) {
		font-size: 12px;
		padding: 10px 15px;
	}
}

/* ****************************** */
/* .marker
/* ****************************** */

.marker {
	width: 35px;
	height: auto;
	position: absolute;
	transform-origin: -50% 50% 0;
	left: 50%;
	top: 50%;
	margin-top: -35px;
	margin-left: -13px;
	@include transform(scale(1));
	@include transition(scale, .3s, ease);
	&.scale-me {
		@include transform(scale(1));
	}
	.cls-1, .cls-2 {
		@include transition(all .4s ease);
	}
	> svg {
		@include transition(scale, .3s, ease);
	}
	&:hover, &.active {
		z-index: 1000;
		> svg {
			@include transform(scale(1.1));
		}
		.cls-1 {

		}
		.cls-2 {

		}
	}
}

/* ****************************** */
/* .cluster
/* ****************************** */

.cluster {
	@include transition(all .3s ease);
	> img {
		@include transition(scale, .3s, ease);
	}
	&:hover {
		> img {
			@include transform(scale(1.1));
		}
	}
}

/* ****************************** */
/* .ti-nav-wrapper
/* ****************************** */

.ti-nav-wrapper {
	@include transition(all .4s ease);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #451e77;
	z-index: 10;
	&.hide-me {
		top: -120%;
		opacity: 0;
	}
	&.show-me {
		top: 0;
		opacity: 1;
	}
	.lSSlideOuter, .lSSlideWrapper, .lSSlideWrapper ul {
		height: 100% !important;
	}
	&.beginning {
		.lSPrev {
			//background-image: url('../images/arrow-left.svg') !important;
			background-image: url('/images/arrow-left.svg') !important;
		}
	}
	&.ended {
		.lSNext {
			//background-image: url('../images/arrow-right.svg') !important;
			background-image: url('/images/arrow-right.svg') !important;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			position: relative;
			height: 100%;
			&:before {
				@include centerer(false, true);
				content:'\00b7';
				color: $lightGrey;
				font-size: 22px;
			}
			img {
				display: block;
				width: 100%;
			}
			div {
				width: 100%;
				height: 100%;
				padding: 20px;
				h3, p {
					color: #fff;
				}
				h3 {
					font-family: 'AustinNewsText-Semibold';
					font-size: 30px;
					font-weight: normal;
					margin: 0;
					@include breakpoint(xxs) {
						font-size: 24px;
					}
				}
				p {
					font-family: 'TelesansText-Regular';
					font-weight: normal;
					line-height: 1.4;
					font-size: 17px;
					@include breakpoint(xxs) {
						font-size: 14px;
					}
				}
			}
			.plan-link {
				display: inline-block;
				position: absolute;
				padding: 15px 60px 15px 50px;
				bottom: 20px;
				right: 20px;
				color: #fff;
				border: 1px solid #fff;
				text-decoration: none;
				font-family: 'TelesansText-Regular';
				font-weight: normal;
				line-height: 1;
				font-size: 17px;
				@include breakpoint(xxs) {
					font-size: 12px;
					padding: 12px 30px;
					//background: url('../images/chevron.svg') no-repeat right 18px center;
					background: url('/images/chevron.svg') no-repeat right 18px center;
					background-size: 5px;
				}
				background-size: 7px;
				@include border-radius(25px);
			}
		}
	}
	.close {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		//background: url('../images/close-btn.svg') no-repeat center center;
		background: url('/images/close-btn.svg') no-repeat center center;
		width: 50px;
		height: 50px;
		z-index: 1;
		cursor: pointer;
		@include transition(all .5s ease);
		&:hover {
			@include transform(scale(1.1));
		}
		@include breakpoint(xxs) {
			width: 40px;
			height: 40px;
		}
	}
	.lSAction {
		position: absolute;
		left: 15px;
		bottom: 15px;;
		z-index: 90000;
	}
	.lSAction > a {
		display: inline-block;
		position: relative;
		opacity: 1;
		//top: 12px;
		background: none;
		@include transition(all .3s ease);
		width: 38px;
		height: 58px;
	}
	.lSPrev {
		left: 0;
		//background-image: url('../images/arrow-left.svg');
		background-image: url('/images/arrow-left.svg');
		background-position: center center;
		background-repeat: no-repeat;
	}
	.lSNext {
		left: 15px;
		//background-image: url('../images/arrow-right.svg');
		background-image: url('/images/arrow-right.svg');
		background-position: center center;
		background-repeat: no-repeat;
	}
}

/* ******************************** */
/* .infobox-wrapper
/* ******************************** */

.infobox-wrapper {
	position: absolute;
    display: block;
    max-width: 222px;
    z-index: 90000;
	left: -1000px;
	@include transition(all .3s ease);
    .triangle {
    	position: absolute;
    	left: 50%;
    	bottom: -15px;
    	width: 20px;
    	height: 20px;
    	z-index: 900000;
    	transform: translateX(-50%);
		//background: url('../images/triangle.png') no-repeat center center;
		background: url('/images/triangle.png') no-repeat center center;
    }
    #infobox {
		background: #fff;
	    background-size: 25px;
		color:#000;
	    font-family:Arial, Helvetica, sans-serif;
	    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
    	a {
    		text-decoration: none;
    		&:hover {
    			text-decoration: none;
    			color: #fff;
    		}
    	}
	    .text-wrap {
	    	padding: 10px 10px 40px 10px;
			h2, p, a {
				font-family: 'Titillium-Regular';
			}
			h2 {
				text-transform: uppercase;
				font-size: 16px;
				margin-bottom: 7px;
				margin-top: 0;
				letter-spacing: 0.5px;
				+ p {
					margin-bottom: 10px;
				}
			}
	    	p {
	    		margin-top: 0;
	    		margin-bottom: 0;
		    	color: #7f7f7f;
				font-size: 11px;
				letter-spacing: 0.5px;
				span {
					display: inline-block;
					margin-right: 3px;
					font-family: 'Titillium-Semibold';
					color: #000000;
				}
		    }
		    a {
		    	color: $green;
		    	font-size: 12px;
		    	letter-spacing: 1px;
				display: block;
				margin-top: 12px;
				text-transform: uppercase;
				// &:last-child {
				// 	// margin-top: 5px;
				// 	// color: #000;
				// }
		    }
	    }

	    .img-wrap {
	    	position: relative;
			width: 100%;
			margin: 0;
			border-bottom: 4px solid $green;
			img {
				display: block;
				width: 100%;
			}
		}
		.close-btn {
			position: absolute;
			top: -4px;
			right: -3px;
			width: 34px;
			height: 34px;
			//background: url('../images/close-btn.svg') no-repeat center center;
			background: url('/images/close-btn.svg') no-repeat center center;
			background-size: 100%;
			z-index: 1;
			cursor: pointer;
			@include transition(all, .7s, easeInOut);
			.cls1-1 {
				fill: $green;
				@include transition(all, .7s, easeInOut);
			}
			.cls1-3 {
				fill: $green;
				@include transition(all, .7s, easeInOut);
				stroke: $green;
			}
			&:hover {
				.cls1-1 {
					fill: $yellow;
				}
				.cls1-3 {
					fill: $yellow;
					stroke: $yellow;
				}
			}
		}
	}
}

/* ******************************** */
/* .gm-bundled-control
/* ******************************** */

.gm-bundled-control {
	bottom: 106px !important;
}

.loader {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9000;
	.loader-inner {
		@include centerer(true, true);
	}
}

.ball-clip-rotate-multiple > div {
    border: 2px solid #451e77;
	border-bottom-color: transparent;
    border-top-color: transparent;
}

.ball-clip-rotate-multiple > div:last-child {
    display: inline-block;
    top: -10px;
    left: -10px;
    width: 15px;
    height: 15px;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    border-color: #451e77 transparent #451e77 transparent;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}
